<!DOCTYPE html>
<html>
<head>
  <title>www.chatsplosion.com - home page</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.8.0/css/bootstrap-markdown.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


  <div class="container-fluid">
    
    <div class="row">
      <div class="col-md-12">
        <h1>Brotherhood of Baal</h1>
        <h2>The distracting minigame</h2>
        <ul class="list-group">
          <li class="list-group-item"><a href="/minigame/xenos/">Xenos Encyclopedia</a></li>
          <li class="list-group-item"><a href="/minigame/weapons/">Weapons Encyclopedia</a></li>
        </ul>
      </div>
    </div>

    <h1>Weapons</h1>
    <ul class="list-group">
      <% for(var i=0; i<weapons.length; i++) {%>
          <li class="list-group-item">
            <h4><%= weapons[i].title %> &nbsp;<small><a href="/minigame/weapons/<%= weapons[i]._id %>">view</a></small></h4>
            <p><%= weapons[i].description %></p>
            <img src="<%- weapons[i].imageUrl %>" />
            <table class="table">
              <thead>
                <tr>
                  <th>Strength</th>
                  <th>Armour Penetration</th>
                  <th>Accuracy</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= weapons[i].strength %></td>
                  <td><%= weapons[i].armourPenetration %></td>
                  <td><%= weapons[i].accuracy %></td>
                </tr>
              </tbody>
            </table>
          </li>
      <% } %>

      <% if (weapons.length == 0) { %>
        <li class="list-group-item">
            There are no weapons in the database. Go nag at the developer!!!
        </li>
      <% } %>

    </ul>

    <h1>New Weapon</h1>
    <form action="" method="post" role="form" class="form-horizontal">

      <div class="well">

        <div class="form-group">
          <div class="col-md-2">
            <label class="control-label">Title</label>
          </div>
          <div class="col-md-4">
            <input name="title" type="text" class="form-control" />
          </div>
          <div class="col-md-2">
            &nbsp;
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2">
            <label class="control-label">Description</label>
          </div>
          <div class="col-md-10">
            <textarea name="description"  class="form-control"></textarea>
          </div>
        </div>

        <div class="form-group">

          <div class="col-md-2">
            <label class="control-label">Strength</label>
          </div>
          <div class="col-md-2">
            <input name="strength" type="number"  class="form-control"/>
          </div>

          <div class="col-md-2">
            <label class="control-label">Armour Penetration</label>
          </div>
          <div class="col-md-2">
            <input name="armourPenetration" type="number"  class="form-control"/>
          </div>

          <div class="col-md-2">
            <label class="control-label">Accuracy</label>
          </div>
          <div class="col-md-2">
            <input name="accuracy" type="number"  class="form-control"/>
          </div>

        </div>

        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">
              <i class="glyphicon glyphicon-add"></i>&nbsp;Add Weapon
            </button>
          </div>
        </div>

      </div>

    </form>
  </div>
</body>
</html>
