<!DOCTYPE html>
<html>
<head>
  <title>www.chatsplosion.com - home page</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.8.0/css/bootstrap-markdown.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="row">
    <div class="col-md-12">
      <a href="/minigame/xenos/">Back to List</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2><%= weapon.title %> - <%= weapon.faction %></h2>
      <p><%= weapon.description %></p>
      <table class="table">
        <thead>
          <tr>
            <th>Strength</th>
            <th>Armour Penetration</th>
            <th>Accuracy</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= weapon.strength %></td>
            <td><%= weapon.armourPenetration %></td>
            <td><%= weapon.accuracy %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
